In [1]:
import pandas as pd

# Praticando Data Wrangling 
<br>

<hr>
<h4>
Limpando dados de 2019:
</h4>

In [2]:
#Tratando exceções:
try:
    raw_data = pd.read_csv('dataset/raw_data/despesa_ceaps_2019.csv', encoding="latin-1", sep=";", skiprows=[0])
except Exception as excp:
    print(excp)


# Diagnósticos:

# Analisando se existem dados duplicados:
print(f"\nDados Duplicados: {raw_data.COD_DOCUMENTO.duplicated().sum()}")

# Analisando se existem dados N/A ou Não Aplicavel:
print(f"\nDados nulos:\n {raw_data.isna().sum()}")
# raw_data[raw_data['DOCUMENTO'].isnull()]

# Analisando se os tipos de dados fazem sentido:
print(f"\n\nTipos de Dados das Colunas:\n {raw_data.dtypes}")

Dados Duplicados: 0

Dados nulos:
 ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             734
DATA                    0
DETALHAMENTO         8542
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64


Tipos de Dados das Colunas:
 ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
COD_DOCUMENTO         int64
dtype: object

Os dados NaN podem ser ignorados, porém o VALOR_REEMBOLSADO é melhor que seja do tipo float64, ao invés de String

In [3]:
# Tipo Float usa '.' ao invés de ',' e no nosso arquivo CSV os valores são separados com virgula então para resolver isso
# utilizamos o metodo replace de str, visto que no momento a colunm é do tipo string e trocamos a ',' pelo '.' , depois
# realizamos a conversão com astype
raw_data['VALOR_REEMBOLSADO']=raw_data['VALOR_REEMBOLSADO'].str.replace(',','.').astype('float64')
print(f"\n\nTipos de Dados das Colunas:\n {raw_data.dtypes}")

Tipos de Dados das Colunas:
 ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
COD_DOCUMENTO          int64
dtype: object

In [5]:

# Salvando o CSV limpo, setando o index false pq o DataFram ja tem index, deixar True só irá duplicar:
raw_data.to_csv( "dataset/cleaned_data/clean_data_2019.csv" , index=False)
data_cleaned = pd.read_csv("dataset/cleaned_data/clean_data_2019.csv")
data_cleaned.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,66.02,2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,139.98,2116546
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000.00,2113817
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,316.39,2116541
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,99.45,2116550